@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --pink:#6d04ff;
   --violet:#3ba7fa;
}

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

*::selection{
   background: var(--pink);
   color:#fff;

}
html{
   font-size: 62.5%;
   overflow: hidden;
}
body{
   background-color: #333;
}
header{
   width: 96%;
   background-color: #fff;
   position: fixed;
   top: 2rem; left: 50%;
   transform: translateX(-50%);
   border-radius: 5rem;
   display:flex;
   align-items:end;
   justify-content:end;
   padding: 1rem 2rem;
   z-index: 1000;
   margin-left: 0px;
}
#img-logo{
   width: 30px;
   height:30px;
   color: var(--pink);
   padding: 0.3rem;
   
}

.logo{
   
   align-items: start;
   justify-content:start;
   text-align: start;
   width:800px;
   font-size:2.5em;
   color: var(--pink);
   text-transform: uppercase;
}

header .navbar ul{
   display: flex;
   align-items: center;
   justify-content:space-between;
   list-style: none;

}
header .navbar ul li{
   margin: 0 1rem;
}
header .navbar ul li a{
   font-size: 2rem;
   color: var(--pink);
}
header .navbar ul li a:hover{
   color: var(--violet);
}

#img-menu{
   width: 30px;
   height:30px;
   color: var(--pink);
   padding: 0.3rem;
   cursor: pointer;
}

header .fa-bars{
   font-size: 3rem;
   color: var(--pink);
   cursor: pointer;
   display: none;
}

@media screen and (max-width:768px){
   html{
      font-size: 55%;
   }
   header{
      width: 90%;
      padding: 1rem;
   }
   .logo{
      font-size: 2rem;
      width:700px;
   }
   header .navbar{
      position: fixed;
      top:-100rem; left:0;
      background-color: #fff;
      width: 100%;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
      
      max-height: 0;
      transition: max-height 0.3s ease;
   }
   header .navbar ul{
      flex-flow: column;
      padding:2rem 0;
   }
   header .navbar ul li{
      margin:1rem 0;
      width: 100%;
   }
   header .fa-bars{
      display: block;
   }
   header .navbar.active{
      max-height: 300px;
   }
   header .navbar.active{
      text-align: center;
      display: flex;
      left: 0;
      flex-direction: column;
      align-items: center;
      top: 100%; left:0px;
      
      padding: 2rem;
   }
   header .navbar.active ul{
      width: 100%;
   }
   header .navbar.active ul li{
      width: 100%;
      margin-top: 2px;
   }
   header .navbar.active ul li:hover{
      background-color: var(--pink);
      color:#fff;
   }
   
}
.div-navbar{
   width: 80%;
   background-attachment:rgba(255, 255, 255, 0.765);
  
   text-align: center;
   display: flex;
   top: 10vh;
   align-items: center;
   justify-content: center;
    position: relative;
   top: 33vh;
   left:10%;
      transition: all 0.5s;
      display: none;


   
   

}
.div-navbar ul{
   width: 100%;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   left: 20%;
}
.div-navbar li{
   display: flex;
   width: 100%;
   border: 2px solid black;
   margin-top: 4x;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 2.5rem;
   background-color: white;
   color: var(--pink);
   padding: 2rem;
   text-transform: uppercase;

}


.home{
   min-height: 100vh;
   background: linear-gradient(rgba(56, 67, 92, 0.6),rgba(4, 18, 145, 0.6)), url(img/121.jpg)
   no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   z-index: 0;
   position: relative;

}
.home .content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   padding-top: 14rem;
   padding-bottom: 8rem;
   text-align: center;
}
.home .content h1{
   font-size: 5rem;
   color: white;
   padding: 0 1rem;
   text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}
.home .content p{
   font-size: 2rem;
   color: #eee;
   padding:0 1rem;
   text-shadow: 1px ;
}